<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container">

        <h1>Notes App</h1>

        <p>
            Notes App is a simple web application that allows users to create,
            store, and manage personal notes.
        </p>

        <h2>Team</h2>
        <ul>
            <li>Baisal,Raimbek,Dias,Ibrahim</li>
        </ul>

        <h2>Planned Features</h2>
        <ul>
            <li>Create new notes</li>
            <li>Edit notes</li>
            <li>Delete notes</li>
            <li>Save notes to database</li>
        </ul>

    </div>

</body>

</html>
